.navBar-container {
    font-family: 'Amatic SC', cursive;
}

.nav-item {
    margin-right: 30px;
}

.nav-logo {
    width: 50px;
    margin-left: 10px;
}

.bg {
    --bs-bg-opacity: 1;
    background-color: rgb(240, 240, 240);
}

div nav a {
    text-decoration: none;
    font-size: 30px;
}

div nav {
    height: 80px;
}

.logoutBtn {
    text-decoration: none !important;
    font-size: 15px !important;
}

.logoutBtnDiv {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 991.33px) {
    .nav-logo {
        margin-top: 0;
    }

    div nav {
        height: auto;
    }

    .nav-item {
        margin-right: 0;
    }

    .searchTag {
        margin: 0;
        margin-left: -18px;
    }

    .searchTag button {
        margin-left: -15px;
    }

    .logoutBtnDiv {
        position: relative;
    }
}